/*
	Theme Name: Starter Theme
	Description: A lightweight and mobile-first starter theme for the Genesis Framework.
	Author: Calvin Koepke
	Theme URL: http://startertheme.io
	Author URI: https://calvinkoepke.com
	Version: 1.0
	License: GPL-3.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php

	Template: genesis
*/
/* Import Bourbon */
button, input[type="button"], input[type="reset"], input[type="submit"], .button { appearance: none; background-color: #477dca; border: 0; border-radius: 0; color: #fff; cursor: pointer; display: inline-block; font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; font-size: 1em; -webkit-font-smoothing: antialiased; font-weight: 600; line-height: 1; padding: 0.75em 1.5em; text-decoration: none; transition: background-color 150ms ease; user-select: none; vertical-align: middle; white-space: nowrap; }
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, .button:hover, .button:focus { background-color: #3964a2; color: #fff; }
button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled, .button:disabled { cursor: not-allowed; opacity: 0.5; }
button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover, .button:disabled:hover { background-color: #477dca; }

fieldset { background-color: #f7f7f7; border: 1px solid #ddd; margin: 0 0 0.75em; padding: 1.5em; }

input, label, select { display: block; font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; font-size: 1em; }

label { font-weight: 600; margin-bottom: 0.375em; }
label.required::after { content: "*"; }
label abbr { display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea, select[multiple=multiple] { background-color: #fff; border: 1px solid #ddd; border-radius: 3px; box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06); box-sizing: border-box; font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; font-size: 1em; margin-bottom: 0.75em; padding: 0.5em; transition: border-color 150ms ease; width: 100%; }
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover, select[multiple=multiple]:hover { border-color: #b1b1b1; }
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus, select[multiple=multiple]:focus { border-color: #477dca; box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7); outline: none; }
input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled, select[multiple=multiple]:disabled { background-color: #f2f2f2; cursor: not-allowed; }
input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover, select[multiple=multiple]:disabled:hover { border: 1px solid #ddd; }

textarea { resize: vertical; }

input[type="search"] { appearance: none; }

input[type="checkbox"], input[type="radio"] { display: inline; margin-right: 0.375em; }
input[type="checkbox"] + label, input[type="radio"] + label { display: inline-block; }

input[type="file"] { margin-bottom: 0.75em; width: 100%; }

select { margin-bottom: 1.5em; max-width: 100%; width: auto; }

ul, ol { list-style-type: none; margin: 0; padding: 0; }
dl { margin-bottom: 0.75em; }
dl dt { font-weight: bold; margin-top: 0.75em; }
dl dd { margin: 0; }

table { border-collapse: collapse; font-feature-settings: "kern", "liga", "tnum"; margin: 0.75em 0; table-layout: fixed; width: 100%; }

th { border-bottom: 1px solid #a6a6a6; font-weight: 600; padding: 0.75em 0; text-align: left; }

td { border-bottom: 1px solid #ddd; padding: 0.75em 0; }

tr, td, th { vertical-align: middle; }

body { color: #333; font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; font-feature-settings: "kern", "liga", "pnum"; font-size: 1em; line-height: 1.5; }

h1, h2, h3, h4, h5, h6 { font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; font-size: 1em; line-height: 1.2; margin: 0 0 0.75em; }

p { margin: 0 0 0.75em; }

a { color: #477dca; text-decoration: none; transition: color 150ms ease; }
a:active, a:focus, a:hover { color: #355e98; }

hr { border-bottom: 1px solid #ddd; border-left: 0; border-right: 0; border-top: 0; margin: 1.5em 0; }

img, picture { margin: 0; max-width: 100%; }

html { box-sizing: border-box; }

*, *::after, *::before { box-sizing: inherit; }

/* Variables */
/* Partials */
/*=================================
=            Normalize            =
=================================*/
/* normalize.css v3.0.2 | MIT License | git.io/normalize */
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: 700; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: .67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -.5em; }

sub { bottom: -.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace,monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid silver; margin: 0 2px; padding: .35em .625em .75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: 700; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/*====================================
=            Clear Floats            =
====================================*/
.author-box:before, .clearfix:before, .entry:before, .entry-content:before, .footer-widgets:before, .nav-primary:before, .nav-secondary:before, .pagination:before, .site-container:before, .site-footer:before, .site-header:before, .site-inner:before, .wrap:before { content: " "; display: table; }

.author-box:after, .clearfix:after, .entry:after, .entry-content:after, .footer-widgets:after, .nav-primary:after, .nav-secondary:after, .pagination:after, .site-container:after, .site-footer:after, .site-header:after, .site-inner:after, .wrap:after { clear: both; content: " "; display: table; }

/*----------  Box Sizing  ----------*/
html, input[type="search"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

/*=================================
=            Structure            =
=================================*/
/*----------  Site Containers  ----------*/
.site-container { max-width: 100%; }

.site-inner, .wrap, .site-footer { margin: 0 auto; max-width: 1200px; width: 100%; }

.site-inner { clear: both; margin-top: 65px; /* Height of header */ padding: 20px 10px; }

/*----------  Site Header  ----------*/
.site-header { background: #fff; border-bottom: 1px solid #ddd; left: 0; overflow: hidden; position: fixed; top: 0; width: 100%; z-index: 100; }

.admin-bar .site-header { top: 46px; }

.site-header > .wrap { padding: 20px 10px; }

.title-area { float: left; max-width: 70%; }

.header-widget-area { display: none; float: right; }

/*----------  Widgets  ----------*/
.widget { word-wrap: break-word; }
.widget ol > li { list-style-position: inside; list-style-type: decimal; padding-left: 20px; text-indent: -20px; }
.widget li li { border: 0; margin: 0 0 0 30px; padding: 0; }

.widget_calendar table { width: 100%; }
.widget_calendar th, .widget_calendar td { text-align: center; }

/*=====================================
=            Media Queries            =
=====================================*/
/*----------  768  ----------*/
@media screen and (min-width: 768px) { /* Structure */
  .site-inner, .site-footer { padding: 40px; }
  .footer-widgets, .site-header > .wrap { padding-left: 40px; padding-right: 40px; } }
/*----------  1200  ----------*/
@media screen and (min-width: 1200px) { /* Structure */
  .site-inner { margin-top: 0; }
  .site-header { position: static; }
  .site-header > .wrap { padding: 40px; }
  /* Layout Wrappers */
  .content-sidebar-sidebar .content-sidebar-wrap, .sidebar-content-sidebar .content-sidebar-wrap, .sidebar-sidebar-content .content-sidebar-wrap { width: 980px; }
  .content-sidebar-sidebar .content-sidebar-wrap { float: left; }
  .sidebar-content-sidebar .content-sidebar-wrap, .sidebar-sidebar-content .content-sidebar-wrap { float: right; }
  .content { float: right; width: 760px; }
  .content-sidebar .content, .content-sidebar-sidebar .content, .sidebar-content-sidebar .content { float: left; }
  .content-sidebar-sidebar .content, .sidebar-content-sidebar .content, .sidebar-sidebar-content .content { width: 580px; }
  .full-width-content .content { width: 100%; }
  /*----------  Columns  ----------*/
  .five-sixths, .four-sixths, .one-fourth, .one-half, .one-sixth, .one-third, .three-fourths, .three-sixths, .two-fourths, .two-sixths, .two-thirds { float: left; margin-left: 2.564102564102564%; }
  .one-half, .three-sixths, .two-fourths { width: 48.717948717948715%; }
  .one-third, .two-sixths { width: 31.623931623931625%; }
  .four-sixths, .two-thirds { width: 65.81196581196582%; }
  .one-fourth { width: 23.076923076923077%; }
  .three-fourths { width: 74.35897435897436%; }
  .one-sixth { width: 14.52991452991453%; }
  .five-sixths { width: 82.90598290598291%; }
  .first { clear: both; margin-left: 0; } }
/*================================
=            Defaults            =
================================*/
body { background-color: #fff; color: #444; font-family: Georgia, serif; font-size: 16px; font-size: 1.6rem; font-weight: 400; line-height: 1.611; margin: 0; -webkit-font-smoothing: antialiased; }
body .nav-visible { overflow: hidden; }

/*=====================================
=            Media Queries            =
=====================================*/
/*----------  768  ----------*/
@media screen and (min-width: 768px) { /* Typography */
  body, body > div { font-size: 18px; font-size: 1.8rem; } }
/*----------  Typography  ----------*/
html { font-size: 62.5%; /* Set the default browser size to 10px */ }
html > div { font-size: 1.6rem; /* Chrome fix for REM values */ }

a { border-bottom: 1px solid currentColor; color: #111; text-decoration: none; }
a:hover, a:focus { border-bottom: 0; }

p { margin: 0 0 1.3em 0; padding: 0; }

ol, ul { margin: 0; padding: 0; }

li { list-style-type: none; }

.entry-content ol, .entry-content ul, .footer-widgets ol, .footer-widgets ul { margin-bottom: 28px; margin-left: 40px; }
.entry-content ol > li, .footer-widgets ol > li { list-style-type: decimal; }
.entry-content ul > li, .footer-widgets ul > li { list-style-type: disc; }
.entry-content ol ol, .entry-content ul ul, .footer-widgets ol ol, .footer-widgets ul ul { margin-bottom: 0; }

hr { border: 0; border-collapse: collapse; border-top: 1px solid #eee; clear: both; margin: 1em 0; }

b, strong { font-weight: 700; }

blockquote, cite, em, i { font-style: italic; }

blockquote { border-left: 3px solid #000; color: #000; margin: 1.3em 0; padding-left: 10px; }

small, cite { font-size: 0.75em; }

/*----------  Headings  ----------*/
h1, h2, h3, h4, h5, h6 { color: #111; font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; margin: 1.414em 0 0.5em; }

h1 { font-size: 32px; font-size: 3.2rem; }

h2 { font-size: 26px; font-size: 2.6rem; line-height: 1.15em; }

h3 { font-size: 22px; font-size: 2.2rem; line-height: 1.13em; }

h4, h5, h6 { font-size: 18px; font-size: 1.8rem; line-height: 1.1em; }

/*----------  Site Header  ----------*/
.site-title { font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 20px; font-size: 2rem; font-weight: bold; line-height: 1.2; margin: 0; }

.site-description { display: none; font-size: 1em; }

/*----------  Widgets  ----------*/
.widget-title, .footer-widgets .widget-title, .sidebar .entry-title { font-size: 22px; font-size: 2.2rem; margin-top: 0; }

.footer-widgets .widget-title { margin-top: 0; }

/*----------  Author Box  ----------*/
.author-box-title { font-size: 18px; font-size: 1.8rem; margin-top: 0; }

/*----------  Archive Description  ----------*/
.archive-title { margin: 0; }

/*=====================================
=            Media Queries            =
=====================================*/
/*----------  768  ----------*/
@media screen and (min-width: 768px) { h1, .entry-title { font-size: 40px; font-size: 4rem; line-height: 1.25em; }
  h2 { font-size: 32px; font-size: 3.2rem; line-height: 1.25em; }
  h3 { font-size: 24px; font-size: 2.4rem; line-height: 1.25em; }
  h4, h5, h6 { font-size: 18px; font-size: 1.8rem; line-height: 1.22em; }
  blockquote { font-size: 1.3em; padding-left: 40px; } }
/*----------  1200  ----------*/
@media screen and (min-width: 1200px) { /* Typography */
  h1, .entry-title { font-size: 48px; font-size: 4.8rem; line-height: 1.05em; }
  h2 { font-size: 36px; font-size: 3.6rem; line-height: 1.25em; }
  h3 { font-size: 28px; font-size: 2.8rem; line-height: 1.25em; }
  h4, h5, h6 { font-size: 20px; font-size: 2rem; line-height: 1.25em; }
  .site-title { font-size: 30px; font-size: 3rem; } }
/*----------  Objects  ----------*/
embed, iframe, img, object, video, .wp-caption { max-width: 100%; }

img { height: auto; }

.featured-content img, .gallery img { width: auto; }

.wp-caption { margin: 0; }

/*----------  Tables  ----------*/
table { border-collapse: collapse; border-spacing: 0; line-height: 2; margin-bottom: 40px; width: 100%; }

tbody { border-bottom: 1px solid #ddd; }

td, th { text-align: left; }

td { border-top: 1px solid #ddd; padding: 6px 0; }

th { font-weight: 400; }

/*=============================
=            Forms            =
=============================*/
input, select, textarea { background-color: #fff; border-radius: 0; border: 1px solid #ddd; color: #444; padding: 16px; width: 100%; }

input:focus, textarea:focus { border: 1px solid #999; outline: none; }

input[type="checkbox"], input[type="image"], input[type="radio"] { width: auto; }

input:not([type="checkbox"]), input:not([type="image"]), input:not([type="radio"]) { -webkit-appearance: none; /* Remove iOS styles */ }

::-moz-placeholder { color: #444; font-weight: 400; opacity: 1; }

::-webkit-input-placeholder { color: #444; font-weight: 400; }

button, input[type="button"], input[type="reset"], input[type="submit"], .button { border: 3px solid currentColor; cursor: pointer; font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; padding: 16px 24px; text-transform: uppercase; width: auto; }

button:hover, input:hover[type="button"], input:hover[type="reset"], input:hover[type="submit"], .button:hover, button:focus, input:focus[type="button"], input:focus[type="reset"], input:focus[type="submit"], .button:focus { background-color: #444; color: #fff; }

.button { display: inline-block; }

/*----------  Search Form  ----------*/
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button { display: none; }

.search-form { overflow: hidden; }

.site-header .search-form { float: right; }

.entry-content .search-form, .site-header .search-form { width: 50%; }

.genesis-nav-menu .search input[type="submit"], .widget_search input[type="submit"] { border: 0; clip: rect(0, 0, 0, 0); height: 1px; margin: -1px; padding: 0; position: absolute; width: 1px; }

/*=====================================
=            Accessibility            =
=====================================*/
/*----------  Screen Reader Text  ----------*/
.screen-reader-text, .screen-reader-text span, .screen-reader-shortcut { position: absolute !important; clip: rect(0, 0, 0, 0); height: 1px; width: 1px; border: 0; overflow: hidden; }

.screen-reader-text:focus, .screen-reader-shortcut:focus, .genesis-nav-menu .search input[type="submit"]:focus, .widget_search input[type="submit"]:focus { clip: auto !important; height: auto; width: auto; display: block; font-size: 1em; font-weight: bold; padding: 15px 23px 14px; color: #444; background: #fff; z-index: 100000; /* Above WP toolbar. */ text-decoration: none; box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7); }

.more-link { position: relative; }

/*----------  Skip Links  ----------*/
.genesis-skip-link { margin: 0; }
.genesis-skip-link li { height: 0; width: 0; list-style: none; }
.genesis-skip-link a { border-bottom: 0; }
.genesis-skip-link a:hover { background: #f5f5f5; }

/* Display outline on focus */
:focus { color: #111; box-shadow: 0; outline: rgba(0, 0, 0, 0.2) solid 2px; }

/*=================================
=            WordPress            =
=================================*/
/*----------  Defaults  ----------*/
a.aligncenter img { display: block; margin: 0 auto; }

a.alignnone { display: inline-block; }

.alignleft { float: left; text-align: left; }

.alignright { float: right; text-align: right; }

a.alignleft, a.alignnone, a.alignright { max-width: 100%; }

img.centered, .aligncenter { display: block; margin: 0 auto 24px; }

img.alignnone, .alignnone { margin-bottom: 12px; }

a.alignleft, img.alignleft, .wp-caption.alignleft { margin: 0 24px 24px 0; }

a.alignright, img.alignright, .wp-caption.alignright { margin: 0 0 24px 24px; }

.wp-caption-text { font-size: 14px; font-size: 1.4rem; font-style: italic; text-align: center; }

.entry-content p.wp-caption-text { margin-bottom: 0; }

.entry-content .wp-audio-shortcode, .entry-content .wp-playlist, .entry-content .wp-video { margin: 0 0 28px; }

#wpadminbar { position: fixed !important; }

/*----------  Gallery  ----------*/
.gallery { overflow: hidden; }

.gallery-item { float: left; margin: 0 0 28px; text-align: center; }

.gallery-columns-2 .gallery-item { width: 50%; }

.gallery-columns-3 .gallery-item { width: 33%; }

.gallery-columns-4 .gallery-item { width: 25%; }

.gallery-columns-5 .gallery-item { width: 20%; }

.gallery-columns-6 .gallery-item { width: 16.6666%; }

.gallery-columns-7 .gallery-item { width: 14.2857%; }

.gallery-columns-8 .gallery-item { width: 12.5%; }

.gallery-columns-9 .gallery-item { width: 11.1111%; }

.gallery img { border: 1px solid #ddd; height: auto; padding: 4px; }
.gallery img:hover, .gallery img:focus { border: 1px solid #ddd; }

/*----------  Avatar  ----------*/
.avatar { float: right; }

.alignleft .avatar { margin-left: 24px; }

.alignright .avatar { margin-left: 24px; }

/*==================================
=            Navigation            =
==================================*/
.genesis-nav-menu { clear: both; line-height: 1; /* Sub Menu */ }
.genesis-nav-menu .menu-item { display: block; position: relative; text-align: right; }
.genesis-nav-menu .menu-item > a { padding: 20px; }
.genesis-nav-menu a { border-bottom: 1px solid #ddd; display: block; padding: 20px 10px; text-align: left; }
.genesis-nav-menu .menu-item.menu-item-has-children > a { padding-right: 50px; }
.genesis-nav-menu .sub-menu { display: none; }
.genesis-nav-menu .sub-menu a { font-size: .8em; padding-left: 40px; word-wrap: break-word; }
.genesis-nav-menu .sub-menu .sub-menu a { padding-left: 60px; }

/*----------  Primary Navigation  ----------*/
.nav-primary, .nav-primary .genesis-nav-menu { width: 100%; }

.nav-primary { background: #fff; border-bottom: 1px solid #ddd; display: none; height: 100%; overflow-y: scroll; padding-top: 65px; position: fixed; top: 0; z-index: 99; }

.admin-bar .nav-primary { padding-top: 111px; }

/*----------  Secondary Navigation  ----------*/
.nav-secondary { border-bottom: 1px solid #ddd; font-size: .8em; font-style: italic; display: none; }

/*----------  Menu Toggle  ----------*/
.menu-toggle { background: transparent; border: 0; border-bottom: 1px solid currentColor; color: #111; float: right; font-weight: bold; padding: 0; text-align: right; text-transform: none; }

.menu-toggle:active, .menu-toggle:focus, .menu-toggle:hover, .sub-menu-toggle:active, .sub-menu-toggle:focus, .sub-menu-toggle:hover { background: transparent; color: #444; }

.sub-menu-toggle { background: transparent; border: 0; padding: 20px; position: absolute; right: 0; top: 0; }
.sub-menu-toggle::before { color: #111; content: "\f347"; display: block; font-family: "dashicons"; font-size: inherit; line-height: inherit; }
.sub-menu-toggle .activated { transform: rotate(180deg); }

/*=====================================
=            Media Queries            =
=====================================*/
/*----------  1200  ----------*/
@media screen and (min-width: 1200px) { /* Navigation */
  .genesis-nav-menu { clear: both; line-height: 1; text-align: left; /* Sub Menu */ }
  .genesis-nav-menu .menu-item { display: inline-block; position: relative; text-align: left; }
  .genesis-nav-menu a { border-bottom: 0; display: block; padding: 20px; }
  .genesis-nav-menu > .menu-item > a { padding: 20px; }
  .genesis-nav-menu .sub-menu { display: none; left: 0; margin-left: 0; position: absolute; width: 200px; z-index: 99; }
  .genesis-nav-menu .sub-menu a { background: #fff; border: 1px solid #ddd; border-top: 0; padding: 20px; word-wrap: break-word; }
  .genesis-nav-menu .sub-menu > .menu-item:first-child { border-top: 1px solid #ddd; }
  .genesis-nav-menu .sub-menu .sub-menu { margin: -1px 0 0 198px; top: 0; }
  .genesis-nav-menu .sub-menu .sub-menu a { padding: 20px; }
  .genesis-nav-menu .sub-menu a, .genesis-nav-menu .sub-menu .menu-item { display: block; }
  .genesis-nav-menu .sub-menu .menu-item-has-children:hover > .sub-menu { display: block; left: auto; }
  /* Genesis Navigation */
  .nav-primary, .nav-primary .genesis-nav-menu { width: 100%; }
  .nav-primary, .admin-bar .nav-primary { display: block; height: auto; overflow: visible; padding: 0; position: static; }
  .nav-primary > .wrap, .nav-secondary > .wrap { max-width: 1240px; padding: 0 40px; }
  /* Secondary Navigation */
  .nav-secondary { display: block; }
  /* Mobile Navigation */
  .menu-toggle, .sub-menu-toggle { display: none; }
  .genesis-nav-menu .menu-item.menu-item-has-children > a { padding-right: 20px; } }
/*=====================================
=            Content Areas            =
=====================================*/
/*----------  Entries  ----------*/
.content .entry:first-of-type .entry-title { margin-top: 0; }

.entry { text-rendering: optimizeLegibility; }

.entry-content code { background-color: #ddd; }

/*----------  Entry Meta  ----------*/
p.entry-meta { font-size: .8em; font-style: italic; }

/*----------  Comments  ----------*/
.comment-header { margin-bottom: 20px; overflow: hidden; }

.comment-author { margin: 0; }

.comment .avatar { float: left; margin: 0 10px 0 0; }

.says, .comment-meta, .comment-edit-link { font-size: .8em; font-style: italic; margin: 0; }

.comment-reply { clear: both; }

li.pingback, li.comment > article { margin-bottom: 40px; }

ul.children { margin-left: 10px; }

.comment-reply-title > small, .logged-in-as { font-family: Georgia, serif; font-size: 16px; font-size: 1.6rem; font-style: italic; font-weight: normal; }

/*----------  Pagination  ----------*/
.pagination { overflow: hidden; padding: 40px 0; }
.pagination ul { text-align: center; }
.pagination li { display: inline-block; }
.pagination li.active a { border: 0; font-weight: bold; }
.pagination a { font-style: italic; margin: 0 10px; }
.pagination .pagination-next, .pagination .pagination-previous { display: block; width: 100%; }

/*=====================================
=            Media Queries            =
=====================================*/
/*----------  768  ----------*/
@media screen and (min-width: 768px) { /* Comments */
  .comment .avatar { margin-right: 24px; }
  ul.children { margin-left: 40px; }
  /* Pagination */
  .pagination .pagination-next, .pagination .pagination-previous { display: inline-block; width: auto; }
  .pagination .pagination-next { float: right; }
  .pagination .pagination-previous { float: left; } }
/*================================
=            Sidebars            =
================================*/
.sidebar { display: none; }

/*=====================================
=            Media Queries            =
=====================================*/
/*----------  1200  ----------*/
@media screen and (min-width: 1200px) { /* Primary Sidebar */
  .sidebar-primary { float: right; width: 320px; }
  .sidebar-content .sidebar-primary, .sidebar-sidebar-content .sidebar-primary { float: left; }
  /* Secondary Sidebar */
  .sidebar-secondary { float: left; width: 180px; }
  .content-sidebar-sidebar .sidebar-secondary { float: right; } }
/*===============================
=            Widgets            =
===============================*/
/*----------  Header Widget Area  ----------*/
.header-widget-area { display: none; max-width: 600px; width: 100%; }

/*----------  Sidebar Widgets  ----------*/
.sidebar .widget { margin-bottom: 40px; }

/*=====================================
=            Media Queries            =
=====================================*/
/*----------  768  ----------*/
@media screen and (min-width: 768px) { /* Footer Widgets */
  .footer-widgets-1, .footer-widgets-2, .footer-widgets-3 { float: left; margin-left: 2.564102564102564%; width: 31.623931623931625%; }
  .footer-widgets-1 { margin-left: 0; } }
/*----------  1200  ----------*/
@media screen and (min-width: 1200px) { /* Widget Areas */
  .sidebar, .header-widget-area { display: block; }
  .footer-widgets { margin-top: 40px; } }
/*======================================
=            Genesis Classes            =
======================================*/
/*----------  Archive/Author Box  ----------*/
.archive-description, .author-box { border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; padding: 40px 0; }
.archive-description p:last-child, .author-box p:last-child { margin-bottom: 0; }

.author-box { font-size: .8em; margin: 20px 0 40px; }
.author-box .avatar { margin: 0 0 24px 24px; max-width: 70px; }

.archive-description { margin: 0 0 40px; }

/*----------  Breadcrumbs  ----------*/
.breadcrumb { font-size: .8em; font-style: italic; margin-bottom: 20px; }

/*=====================================
=            Media Queries            =
=====================================*/
/*----------  768  ----------*/
@media screen and (min-width: 768px) { .author-box { font-size: 18px; font-size: 1.8rem; }
  .author-box .avatar { max-width: 100%; } }
/*======================================
=            Common Plugins            =
======================================*/
/*----------  Jetpack  ----------*/
#wpstats { display: none; }

/*----------  Genesis eNews Widget  ----------*/
.enews input { margin-bottom: 20px; }

/*======================================
=            Genesis Classes            =
======================================*/
/*----------  Archive/Author Box  ----------*/
.archive-description, .author-box { border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; padding: 40px 0; }
.archive-description p:last-child, .author-box p:last-child { margin-bottom: 0; }

.author-box { font-size: .8em; margin: 20px 0 40px; }
.author-box .avatar { margin: 0 0 24px 24px; max-width: 70px; }

.archive-description { margin: 0 0 40px; }

/*----------  Breadcrumbs  ----------*/
.breadcrumb { font-size: .8em; font-style: italic; margin-bottom: 20px; }

/*=====================================
=            Media Queries            =
=====================================*/
/*----------  768  ----------*/
@media screen and (min-width: 768px) { .author-box { font-size: 18px; font-size: 1.8rem; }
  .author-box .avatar { max-width: 100%; } }
/*==============================
=            Footer            =
==============================*/
.site-footer { clear: both; font-size: .8em; overflow: hidden; padding: 10px; }
.site-footer p { margin-bottom: 0; }

/*----------  Widgets  ----------*/
.footer-widgets { clear: both; overflow: hidden; padding: 40px 10px; }
.footer-widgets .widget { margin-bottom: 40px; }

/* Customizations */
