// Widths
	//------------------------------------------------------------------------------
		$max-width: 1140px;
	// Global Screen Sizes
	//------------------------------------------------------------------------------
		$phone: $max-width - 820px; // 320px iPhone 5
		$phablet: $max-width - 726px; // 414px iPhone 6+
		$tablet-tall: $max-width - 372px; // 768px iPad Vertical
		$tablet-wide: $max-width - 116px; // 1024px iPad Horizontal
		$large-screen: $max-width + 40px; // 1180px Desktop Screens
	// Global Breakpoints
	//------------------------------------------------------------------------------
		$phone-up: new-breakpoint(min-width $phone 12);
		$phone-down: new-breakpoint(max-width $phone 12);

		$phablet-up: new-breakpoint(min-width $phablet 12);
		$phablet-down: new-breakpoint(max-width $phablet 12);

		$tablet-tall-up: new-breakpoint(min-width $tablet-tall 12);
		$tablet-tall-down: new-breakpoint(max-width $tablet-tall 12);

		$tablet-wide-up: new-breakpoint(min-width $tablet-wide 12);
		$tablet-wide-down: new-breakpoint(max-width $tablet-wide 12);

		$large-screen-up: new-breakpoint(min-width $large-screen 12);
		$large-screen-down: new-breakpoint(max-width $large-screen 12);

// Global Max Width Settings
//------------------------------------------------------------------------------
$base-wrap-max-width: $max-width - 372px; // 768px;
$wrap-max-width-medium: $max-width - 180px; // 960px
$wrap-max-width-large: $max-width;
